{% extends "base.html" %}

{% block content %}
    <h1>Find Similar Game</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.select }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>

    {% if form.validate_on_submit() %}
        <h1>Your Selection</h1>
        <p>
            <table>
                {% for key, value in selected_game.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </table>
        </p>
        <h1>Our Recommendation</h1>
        <p>
            <table>
                {% for key, value in recommended.items() %}
                <tr>
                    <td>{{ key|e }}</td>
                    <td>{{ value|e }}</td>
                </tr>
                {% endfor %}
            </table>
        </p>
        <h1>Analysis</h1>
        <p>
            <img src={{ plots[0] }} alt="Chart" height="auto" width="625px">
        </p>
        <form action="" method="post" novalidate>
            {{ tag_form.hidden_tag() }}
            <p>
                {{ tag_form.select }}
            </p>
            <p>
                {{ tag_form.submit() }}
            </p>
        </form>
    {% endif %}

{% endblock %}